@theme static {
  /* text */
  --color-light-fill-text-primary: #000000e4;
  --color-light-fill-text-secondary: #0000009e;
  --color-light-fill-text-teriary: #00000072;
  --color-light-fill-text-disabled: #0000005c;
  /* accent text */
  --color-light-fill-text-accent-primary: #003e92ff;
  --color-light-fill-text-accent-secondary: #001a68ff;
  --color-light-fill-text-accent-teriary: #005fb8ff;
  --color-light-fill-text-accent-disabled: #0000005c;
  /* on accent text */
  --color-light-fill-text-on-accent-primary: #ffffffff;
  --color-light-fill-text-on-accent-secondary: #ffffffb3;
  --color-light-fill-text-on-accent-disabled: #ffffffb3;
  --color-light-fill-text-on-accent-selected-text: #ffffffff;
}

@theme static {
  /* text */
  --color-dark-fill-text-primary: #ffffffff;
  --color-dark-fill-text-secondary: #ffffffc5;
  --color-dark-fill-text-teriary: #ffffff87;
  --color-dark-fill-text-disabled: #ffffff5d;
  /* accent text */
  --color-dark-fill-text-accent-primary: #99ebffff;
  --color-dark-fill-text-accent-secondary: #99ebffff;
  --color-dark-fill-text-accent-teriary: #60cdffff;
  --color-dark-fill-text-accent-disabled: #ffffff5d;
  /* on accent text */
  --color-dark-fill-text-on-accent-primary: #000000ff;
  --color-dark-fill-text-on-accent-secondary: #00000080;
  --color-dark-fill-text-on-accent-disabled: #ffffff87;
  --color-dark-fill-text-on-accent-selected-text: #ffffffff;
}

@utility text-fill-text-* {
  @apply light:text-[--value(--color-light-fill-text-*)];
  @apply dark:text-[--value(--color-dark-fill-text-*)];
}

@utility internal-text-with-color {
  & {
    @apply text-fill-text-primary;
    &[data-pressed] {
      @apply text-fill-text-secondary;
    }
    &[data-disabled] {
      @apply text-fill-text-disabled;
    }
  }

  &[data-color="primary"] {
    @apply text-fill-text-accent-primary;
    &[data-hover] {
      @apply text-fill-text-accent-secondary;
    }
    &[data-pressed] {
      @apply text-fill-text-accent-teriary;
    }
    &[data-disabled] {
      @apply text-fill-text-accent-disabled;
    }
  }
}
