@theme static {
  --color-accent-light-3: #98ecfe;
  --color-accent-light-2: #60ccfe;
  --color-accent-light-1: #0093f9;
  --color-accent-base: #0078d4;
  --color-accent-dark-1: #005eb7;
  --color-accent-dark-2: #003d92;
  --color-accent-dark-3: #001968;
}

@theme static {
  --color-light-fill-sys-attention: #0070cbff;
  --color-light-fill-sys-success: #0f7b0fff;
  --color-light-fill-sys-caution: #9d5d00ff;
  --color-light-fill-sys-critical: #c42b1cff;
  --color-light-fill-sys-neutral: #00000072;
  --color-light-fill-sys-neutral-solid: #8a8a8aff;

  --color-light-fill-sys-bg-attention: #f6f6f680;
  --color-light-fill-sys-bg-success: #dff6ddff;
  --color-light-fill-sys-bg-caution: #fff4ceff;
  --color-light-fill-sys-bg-critical: #fde7e9ff;
  --color-light-fill-sys-bg-neutral: #00000006;
  --color-light-fill-sys-bg-neutral-solid: #f3f3f3ff;
  --color-light-fill-sys-bg-attention-solid: #f7f7f7ff;
}

@theme static {
  --color-dark-fill-sys-attention: #60cdffff;
  --color-dark-fill-sys-success: #6ccb5fff;
  --color-dark-fill-sys-caution: #fce100ff;
  --color-dark-fill-sys-critical: #ff99a4ff;
  --color-dark-fill-sys-neutral: #ffffff8b;
  --color-dark-fill-sys-neutral-solid: #9d9d9dff;

  --color-dark-fill-sys-bg-attention: #ffffff08;
  --color-dark-fill-sys-bg-success: #393d1bff;
  --color-dark-fill-sys-bg-caution: #433519ff;
  --color-dark-fill-sys-bg-critical: #442726ff;
  --color-dark-fill-sys-bg-neutral: #ffffff08;
  --color-dark-fill-sys-bg-neutral-solid: #2e2e2e;
  --color-dark-fill-sys-bg-attention-solid: #2e2e2e;
}
