@theme static {
  /* ctrl border */
  --color-light-1-elevation-ctrl-border: inset 0 -0.6px 0.4px 0 #00000029;
  --color-light-2-elevation-ctrl-border: inset 0 0 0 1px #0000000f;
  --color-dark-1-elevation-ctrl-border: inset 0 0.6px 0.4px 0 #ffffff17;
  --color-dark-2-elevation-ctrl-border: inset 0 0 0 1px #ffffff06;

  --color-light-1-elevation-ctrl-accent-border: inset 0 -0.6px 1px 0 #00000066;
  --color-light-2-elevation-ctrl-accent-border: inset 0 0 0 1px #ffffff37;
  --color-dark-1-elevation-ctrl-accent-border: inset 0 -0.6px 0.4px 0 #00000066;
  --color-dark-2-elevation-ctrl-accent-border: inset 0 0 0 1px #ffffff17;
}

@utility elevation-ctrl-* {
  @apply inset-ring-1;

  @variant light {
    /* prettier-ignore */
    --tw-inset-ring-shadow: --value(--color-light-1-elevation-ctrl-*), --value(--color-light-2-elevation-ctrl-*);
  }
  @variant dark {
    /* prettier-ignore */
    --tw-inset-ring-shadow: --value(--color-dark-1-elevation-ctrl-*), --value(--color-dark-2-elevation-ctrl-*);
  }
}

@theme static {
  --color-light-stroke-ctrl-default: #00000006;
  --color-light-stroke-ctrl-secondary: #00000029;
  --color-light-stroke-ctrl-on-accent-default: #ffffff14;

  --color-dark-stroke-ctrl-default: #ffffff06;
  --color-dark-stroke-ctrl-secondary: #ffffff18;
  --color-dark-stroke-ctrl-on-accent-default: #ffffff14;
}

@utility stroke-ctrl-* {
  @apply inset-ring-1;

  @variant light {
    /* prettier-ignore */
    --tw-inset-ring-shadow: inset 0 0 0 1px --value(--color-light-stroke-ctrl-*);
  }
  @variant dark {
    /* prettier-ignore */
    --tw-inset-ring-shadow: inset 0 0 0 1px --value(--color-dark-stroke-ctrl-*);
  }
}
