@theme static {
  /* ctrl */
  --color-light-fill-ctrl-default: #ffffffb3;
  --color-light-fill-ctrl-secondary: #f9f9f980;
  --color-light-fill-ctrl-tertiary: #f9f9f94d;
  --color-light-fill-ctrl-quarternary: #f3f3f3c2;
  --color-light-fill-ctrl-disabled: #f9f9f94d;
  --color-light-fill-ctrl-transparent: #ffffff00;
  --color-light-fill-ctrl-active: #ffffffff;
  /* ctrl alt */
  --color-light-fill-ctrl-alt-transparent: #00000000;
  --color-light-fill-ctrl-alt-secondary: #00000006;
  --color-light-fill-ctrl-alt-tertiary: #0000000f;
  --color-light-fill-ctrl-alt-quarternary: #00000018;
  --color-light-fill-ctrl-alt-disabled: #00000000;
  /* ctrl solid */
  --color-light-fill-ctrl-solid-default: #ffffffff;
  /* ctrl strong */
  --color-light-fill-ctrl-strong-default: #00000072;
  --color-light-fill-ctrl-strong-disabled: #00000051;
  /* ctrl on image */
  --color-light-fill-ctrl-on-img-default: #ffffffc9;
  --color-light-fill-ctrl-on-img-secondary: #f3f3f3ff;
  --color-light-fill-ctrl-on-img-tertiary: #ebebebff;
  --color-light-fill-ctrl-on-img-disabled: #ffffff00;
}

@theme static {
  /* ctrl */
  --color-dark-fill-ctrl-default: #ffffff0f;
  --color-dark-fill-ctrl-secondary: #ffffff15;
  --color-dark-fill-ctrl-tertiary: #ffffff0b;
  --color-dark-fill-ctrl-quarternary: #ffffff0f;
  --color-dark-fill-ctrl-disabled: #ffffff0a;
  --color-dark-fill-ctrl-transparent: #ffffff00;
  --color-dark-fill-ctrl-active: #1e1e1eb3;
  /* ctrl alt */
  --color-dark-fill-ctrl-alt-transparent: #00000000;
  --color-dark-fill-ctrl-alt-secondary: #00000019;
  --color-dark-fill-ctrl-alt-tertiary: #ffffff0b;
  --color-dark-fill-ctrl-alt-quarternary: #ffffff12;
  --color-dark-fill-ctrl-alt-disabled: #00000000;
  /* ctrl solid */
  --color-dark-fill-ctrl-solid-default: #454545ff;
  /* ctrl strong */
  --color-dark-fill-ctrl-strong-default: #ffffff8b;
  --color-dark-fill-ctrl-strong-disabled: #ffffff3f;
  /* ctrl on image */
  --color-dark-fill-ctrl-on-img-default: #1c1c1cb3;
  --color-dark-fill-ctrl-on-img-secondary: #1a1a1aff;
  --color-dark-fill-ctrl-on-img-tertiary: #131313ff;
  --color-dark-fill-ctrl-on-img-disabled: #1e1e1eff;
}

@utility bg-fill-ctrl-* {
  @apply light:bg-[--value(--color-light-fill-ctrl-*)];
  @apply dark:bg-[--value(--color-dark-fill-ctrl-*)];
}
