@theme static {
  --color-zn-accent-light-3: #98ecfe;
  --color-zn-accent-light-2: #60cdff;
  --color-zn-accent-light-1: #0093f9;
  --color-zn-accent-base: #0078d4;
  --color-zn-accent-dark-1: #005eb8;
  --color-zn-accent-dark-2: #003d92;
  --color-zn-accent-dark-3: #001a68;
}
