@theme {
  --color-zn-light-fill-brand-rest: var(--color-zn-accent-dark-1);
  --color-zn-light-fill-brand-hover: --alpha(
    var(--color-zn-accent-dark-1) / 90%
  );
  --color-zn-light-fill-brand-pressed: --alpha(
    var(--color-zn-accent-dark-1) / 80%
  );
  --color-zn-light-fill-brand-disabled: #00000037;

  --color-zn-dark-fill-brand-rest: var(--color-zn-accent-light-2);
  --color-zn-dark-fill-brand-hover: --alpha(
    var(--color-zn-accent-light-2) / 90%
  );
  --color-zn-dark-fill-brand-pressed: --alpha(
    var(--color-zn-accent-light-2) / 80%
  );
  --color-zn-dark-fill-brand-disabled: #ffffff28;
}

@utility zn-fill-brand-* {
  @apply light:bg-[--value(--color-zn-light-fill-brand-*)];
  @apply dark:bg-[--value(--color-zn-dark-fill-brand-*)];
}
