@theme static {
  --color-zn-light-stroke-focus-outer: #000000e4;
  --color-zn-light-stroke-focus-inner: #ffffffff;
  /*--color-zn-light-stroke-focus-inner: #ffffffb3;*/

  --color-zn-dark-stroke-focus-outer: #ffffffff;
  --color-zn-dark-stroke-focus-inner: #000000ff;
  /*--color-zn-dark-stroke-focus-inner: #000000b3;*/
}

@utility ring-zn-stroke-focus {
  @apply ring-offset-[1px] ring-[2px];
  @variant light {
    @apply ring-(--color-zn-light-stroke-focus-outer);
    @apply ring-offset-(--color-zn-light-stroke-focus-inner);
  }
  @variant dark {
    @apply ring-(--color-zn-dark-stroke-focus-outer);
    @apply ring-offset-(--color-zn-dark-stroke-focus-inner);
  }
}
