@theme {
  --color-zn-light-surface-card-default: #ffffffb3;
  --color-zn-light-surface-smoke-default: #0000004d;
  --color-zn-light-surface-layer-default: #ffffff80;
  --color-zn-light-surface-solid-default: #f3f3f3ff;

  --color-zn-dark-surface-card-default: #ffffff0d;
  --color-zn-dark-surface-smoke-default: #0000004d;
  --color-zn-dark-surface-layer-default: #3a3a3a4c;
  --color-zn-dark-surface-solid-default: #202020ff;
}

@utility zn-surface-* {
  @apply light:bg-[--value(--color-zn-light-surface-*)];
  @apply dark:bg-[--value(--color-zn-dark-surface-*)];
}
