@theme static {
  --color-zn-light-stroke-ctrl-default: #0000000f;
  --color-zn-light-stroke-ctrl-secondary: #00000029;

  --color-zn-dark-stroke-ctrl-default: #ffffff12;
  --color-zn-dark-stroke-ctrl-secondary: #ffffff18;
}

@utility ring-zn-stroke-ctrl-rest {
  @variant light {
    --zn-stroke-ctrl-ring:
      --alpha(var(--color-zn-light-stroke-ctrl-default) / 100%),
      inset 0 -0.6px 1px 0 var(--color-zn-light-stroke-ctrl-secondary);
  }
  @variant dark {
    --zn-stroke-ctrl-ring:
      --alpha(var(--color-zn-dark-stroke-ctrl-secondary) / 20%),
      inset 0 0.6px 0.4px 0 var(--color-zn-dark-stroke-ctrl-default);
  }
  @apply inset-ring-1 inset-ring-(--zn-stroke-ctrl-ring);
}

@utility ring-zn-stroke-ctrl-hover {
  @apply ring-zn-stroke-ctrl-rest;
}

@utility ring-zn-stroke-ctrl-pressed {
  @variant light {
    --zn-stroke-ctrl-ring: var(--color-zn-light-stroke-ctrl-default);
  }
  @variant dark {
    --zn-stroke-ctrl-ring: --alpha(
      var(--color-zn-dark-stroke-ctrl-default) / 60%
    );
  }
  @apply inset-ring-1 inset-ring-(--zn-stroke-ctrl-ring);
}

@utility ring-zn-stroke-ctrl-disabled {
  @apply ring-zn-stroke-ctrl-pressed;
}

/*--------------------------------------------------------------------------------------------------------------------*/

@theme static {
  --color-zn-light-stroke-on-accent-default: #ffffff14;
  --color-zn-light-stroke-on-accent-secondary: #00000066;

  --color-zn-dark-stroke-on-accent-default: #ffffff14;
  --color-zn-dark-stroke-on-accent-secondary: #00000023;
}

@utility ring-zn-stroke-on-accent-rest {
  @variant light {
    --zn-stroke-ctrl-ring:
      --alpha(var(--color-zn-light-stroke-on-accent-default) / 100%),
      inset 0 -0.6px 1px 0 var(--color-zn-light-stroke-on-accent-secondary);
  }
  @variant dark {
    --zn-stroke-ctrl-ring:
      --alpha(var(--color-zn-dark-stroke-on-accent-secondary) / 20%),
      inset 0 0.6px 0.4px 0 var(--color-zn-dark-stroke-on-accent-default);
  }
  @apply inset-ring-1 inset-ring-(--zn-stroke-ctrl-ring);
}

@utility ring-zn-stroke-on-accent-hover {
  @apply ring-zn-stroke-on-accent-rest;
}

@utility ring-zn-stroke-on-accent-pressed {
  @variant light {
    --zn-stroke-ctrl-ring: var(--color-zn-light-stroke-on-accent-default);
    &,
    &::after {
      --tw-inset-ring-shadow: inset 0 0 0 1px
        var(--color-zn-light-stroke-on-accent-default);
    }
  }
  @variant dark {
    --zn-stroke-ctrl-ring: --alpha(
      var(--color-zn-dark-stroke-on-accent-default) / 60%
    );
  }
  @apply inset-ring-1 inset-ring-(--zn-stroke-ctrl-ring);
}

@utility ring-zn-stroke-on-accent-disabled {
  @apply ring-zn-stroke-none;
}

/*--------------------------------------------------------------------------------------------------------------------*/

@utility ring-zn-stroke-none {
  @variant light {
    --zn-stroke-ctrl-ring: transparent;
  }
  @variant dark {
    --zn-stroke-ctrl-ring: transparent;
  }
  @apply inset-ring-1 inset-ring-(--zn-stroke-ctrl-ring);
}
